body {
    margin: 20px;
}

img {
    width: 130px;
    height: 150px;


}

.card {
    width: 400px;
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #d4a373;
    border-radius: 10px;
    border-bottom: 8px solid #e9c46a;
    background-color: #dad7cd;
    font-family: monospace;

}

